@charset "UTF-8";
/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html { font-size: 10px; -webkit-tap-highlight-color: transparent; }

body { font-family: arial, STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体"; font-size: 12px; line-height: normal; color: #222; background-color: #FFF; }

button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

button, input, select, textarea { outline: none; }

*:focus { outline: none; }

button, input[type=button], input[type=checkbox], input[type=radio], input[type=reset], input[type=submit], label[for] { cursor: pointer; }

input[type=file]::-webkit-file-upload-button { cursor: pointer; }

a { color: #000; text-decoration: none; }
a:focus, a:hover { color: #666666; text-decoration: none; }

.ele-slideshow-wrap { position: relative; width: 100%; }
.ele-slideshow-wrap ul { position: absolute; left: 0; top: 0; width: 100%; }
.ele-slideshow-wrap ul li { position: absolute; left: 0; top: 0; width: 100%; }
.ele-slideshow-wrap ul li a { display: block; }
.ele-slideshow-wrap ul li a .img { width: 100%; height: 650px; background-position: top center; background-repeat: no-repeat; }

.ele-slideshow-scroll { overflow: hidden; position: relative; z-index: 1; margin: 0 auto; top: 0; height: 650px; }

.wrapper, .page-position, .footer, .page-body { width: 1024px; margin-right: auto; margin-left: auto; padding-left: 0; padding-right: 0; }
.wrapper:before, .page-position:before, .footer:before, .page-body:before, .wrapper:after, .page-position:after, .footer:after, .page-body:after { content: ""; display: table; }
.wrapper:after, .page-position:after, .footer:after, .page-body:after { clear: both; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/* 主要區塊 */
#mainBody { min-width: 1024px; }

.first .page-position, .about .page-position, .live .page-position, .ball .page-position, .game .page-position, .lottery .page-position, .memberexclusiveii .page-position, .sports .page-position { position: relative; z-index: 3; }

.logo { position: absolute; z-index: 0; top: -10px; left: -16px; width: 231px; height: 120px; background: #5B4410; }
.logo a { display: block; margin: 9px 0 0 16px; width: 199px; height: 101px; background: url('../image/logo.png?1486351358') no-repeat; }
.logo a:hover { background-position: bottom; }

#login { float: left; }

.login-wrap { position: relative; float: right; }

.login-input, .login-btn-wrap { float: left; }

.login-btn-wrap { padding: 0 15px; color: #AB9875; }
.login-btn-wrap li { display: inline-block; }
.login-btn-wrap li + li:before { padding: 0 10px; content: '|'; }
.login-btn-wrap a { line-height: 34px; color: #D5C8AF; }
.login-btn-wrap a:hover { color: #B8A47E; }

.login-input { display: inline-block; text-align: center; }
.login-input input { display: inline-block; width: 128px; height: 30px; padding: 0 10px; border: 2px solid #AB9875; background: none; margin: 0 1px; color: #B8A47E; }
.login-input input::-moz-placeholder { color: #B8A47E; opacity: 1; }
.login-input input:-ms-input-placeholder { color: #B8A47E; }
.login-input input::-webkit-input-placeholder { color: #B8A47E; }
.login-input .key { width: 87px; }

.login-btn { display: inline-block; }

.btn-submit { background: #AB9875; width: 68px; height: 34px; line-height: 34px; margin: 0 0 0 5px; color: #5B4410; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.btn-submit:hover { background-color: #5B4410; color: #B8A47E; }

.logon-acc, .logon-list { float: left; line-height: 34px; margin: 0 30px 0 0; }

.logon-acc { display: block; /* 1. 會員資訊文字顏色 2. 中間的分隔線 3. 額度轉換按鈕顏色 4. Hover的額度轉換按鈕顏色
*/ /* 1. 會員資訊區背景色 2. 下方背景色 3. 額度轉換按鈕背景顏色 4. Hover的額度轉換按鈕背景顏色
*/ }
.logon-acc div, .logon-acc span, .logon-acc p { float: left; }
.logon-acc div span, .logon-acc div .fa { margin: 0 2px; }
.logon-acc div p { margin: 0 2px; }
.logon-acc .obalance { cursor: pointer; }
.logon-acc #Member-Sub .MemberDate ul li { color: #fff; line-height: 18px; }
.logon-acc #Member-Sub .MemberDate .MemberChange { border-top: 1px solid #AB9875; }
.logon-acc #Member-Sub .btn_change { line-height: 24px; color: #fff; text-align: center; }
.logon-acc #Member-Sub .btn_change:hover { color: flase; }
.logon-acc #Member-Sub { position: relative; z-index: 9999; clear: both; }
.logon-acc #Member-Sub .MemberDate { display: none; position: absolute; width: 270px; height: 80px; padding-top: 10px; z-index: 100; background-color: #5B4410; }
.logon-acc #Member-Sub .MemberDate ul li { width: 250px; margin: 0 0 0 20px; }
.logon-acc #Member-Sub .MemberDate .MemberChange { width: 270px; height: 30px; margin-top: 10px; background-color: #AB9875; }
.logon-acc #Member-Sub .btn_change { float: right; display: block; width: 64px; margin: 3px 6px 0 0; background-color: #46A5B8; }
.logon-acc #Member-Sub .btn_change:hover { background-color: #D5C8AF; }
.logon-acc .acc-name, .logon-acc .first-balance { margin-left: 12px; font-size: 14px; color: #D5C8AF; }
.logon-acc .obalance { margin-left: 4px; }
.logon-acc .obalance i { font-size: 14px; color: #B8A47E; }

.logon-list { display: block; }
.logon-list li { display: inline-block; margin-left: 2px; color: #D5C8AF; }
.logon-list li a { color: #D5C8AF; }
.logon-list li a > span, .logon-list li a:hover { color: #fff; }

.list-dividing li::after { content: '|'; display: inline-block; margin-left: 4px; color: #B8A47E; }
.list-dividing li:last-child::after { display: none; }

.lang-wrap { float: right; font-size: 14px; padding-right: 10px; cursor: pointer; }
.lang-wrap .langTitle { width: 86px; height: 28px; margin: 3px 0; padding: 0 10px; line-height: 28px; background: #AB9875; }
.lang-wrap .langTitle::after { content: ''; display: inline-block; width: 8px; height: 8px; margin: 0 0 0 12px; background: url('../image/lang_icon.png?1480497872') no-repeat left center; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.lang-wrap .langTitle.lang-turn::after { -webkit-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }
.lang-wrap .langTitle a:hover { color: #5B4410; }
.game .lang-wrap .langTitle { width: 106px; }

#langOption { position: absolute; width: 106px; right: 10px; top: 34px; z-index: 1; background-color: #5B4410; padding: 10px 0; text-align: center; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0; border-radius: 0 0 6px 6px; }
#langOption a { display: block; color: #D5C8AF; padding: 10px 0; }
#langOption a:hover { color: #AB9875; }
.game #langOption { width: 106px; }

.mainnav { float: right; display: block; padding: 12px 0 0 0; }
.mainnav:before, .mainnav:after { content: ""; display: table; }
.mainnav:after { clear: both; }
.mainnav .nav { float: right; margin-left: 40px; }
.mainnav li { position: relative; float: left; text-align: center; }
.mainnav li a { font-size: 15px; line-height: 51px; display: block; width: 117px; color: #fff; }
.mainnav li span { content: ''; position: absolute; display: none; left: 50%; bottom: 5px; width: 4px; height: 4px; margin: 0 0 0 -2px; background: url('../image/nav_arrow.png?1480499416') no-repeat center bottom; }
.mainnav li:hover span, .mainnav li.current span { display: block; }

.ele-lsub-group { width: 117px; background: #5B4410; padding: 10px 0; }
.ele-lsub-group a { display: block; font-size: 14px; color: #D5C8AF; text-align: center; padding: 10px 0; }
.ele-lsub-group a:hover { color: #AB9875; }

#page-footer { position: relative; background: #171717; padding: 34px 0; }
.first #page-footer::before { content: ''; display: block; position: absolute; width: 100%; height: 477px; top: -431px; left: 50%; margin-left: -960px; background: url('../image/footer_bg.png?1480669902') no-repeat center top; }

.footer-infor { padding-bottom: 43px; }
.footer-infor li { float: left; text-align: center; }
.footer-infor-title { font-size: 15px; color: #46A5B8; padding-bottom: 40px; }
.footer-infor-content { width: 340px; text-align: center; height: 116px; vertical-align: middle; display: table-cell; }
.footer-infor-content a { position: relative; display: block; top: 0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.footer-infor-content a:hover { top: 3px; }
.footer-logo { width: 329px; margin: 0 auto; }
.footer-logo a { position: relative; top: 0; height: 45px; padding: 0 30px; vertical-align: middle; display: table-cell; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.footer-logo a:hover { top: 3px; }
.footer-nav { font-size: 14px; padding: 32px 0 40px 0; text-align: center; }
.footer-nav li { display: inline-block; padding: 0 15px; background: url('../image/footer_nav_line.png?1480672178') no-repeat right center; }
.footer-nav li a { color: #fff; }
.footer-nav li a:hover { color: #46A5B8; }
.footer-nav li:first-of-type { padding-left: 0; }
.footer-nav li:last-of-type { background: none; padding-right: 0; }
.footer-copyright { text-align: center; color: #fff; }

.first #page-header { background: url('../image/first_header_bg.jpg?1486434660') no-repeat center top; min-height: 650px; }

.header-top { padding-top: 10px; background: url('../image/header_top_bg.png?1480497872') repeat-x left top; }

.first #page-container { background: url('../image/first_bg.jpg?1481018339') no-repeat center top; padding-bottom: 100px; }

.header-scroll { position: absolute; left: 50%; bottom: -175px; margin: 0 0 0 -53px; z-index: 2; cursor: pointer; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.header-scroll:hover { bottom: -178px; }

.ele-slideshow-wrap { position: relative; height: 543px; z-index: 2; top: -107px; }

.ele-slideshow-arrow-wrap { position: absolute; width: 1024px; left: 50%; padding-right: 13px; margin-left: -512px; bottom: -110px; z-index: 1; text-align: right; box-sizing: border-box; }
.ele-slideshow-arrow-wrap .ele-slideshow-arrow { display: inline-block; width: 88px; height: 88px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.ele-slideshow-arrow-wrap .ele-slideshow-arrow-left { margin-bottom: -28px; background: url('../image/slider_ctrl_left.png?1480497872') no-repeat; }
.ele-slideshow-arrow-wrap .ele-slideshow-arrow-left:hover { margin-bottom: -26px; }
.ele-slideshow-arrow-wrap .ele-slideshow-arrow-right { margin: 0 0 -54px -18px; background: url('../image/slider_ctrl_right.png?1480497872') no-repeat; }
.ele-slideshow-arrow-wrap .ele-slideshow-arrow-right:hover { margin-bottom: -52px; }

.news { position: relative; z-index: 1; width: 1024px; margin-right: auto; margin-left: auto; padding-left: 0; padding-right: 0; }
.news:before, .news:after { content: ""; display: table; }
.news:after { clear: both; }
.news-wrap { width: 300px; padding: 15px 0 0 20px; }
.news-title { font-size: 26px; color: #B6A079; padding-bottom: 5px; }
.news-title span { font-size: 14px; text-transform: uppercase; padding-left: 5px; }

.msgNews { color: #fff; height: 80px; padding-left: 5px; line-height: 16px; }

.first-game-bar01, .first-game-bar02, .first-game-bar03, .first-game-bar04 { background-image: url('../image/game_bar_bg01.png?1481013480'); }
.first-game01, .first-game02, .first-game03, .first-game04 { background-image: url('../image/game01.png?1481014854'); }
.first-game-title01, .first-game-title02, .first-game-title04, .first-game-title03 { background-image: url('../image/game_icon01.png?1480497872'); }
.first-game-bar02, .first-game-bar03 { background-image: url('../image/game_bar_bg02.png?1481018051'); }
.first-game02 { background-image: url('../image/game02.png?1481015028'); }
.first-game-title02 { background-image: url('../image/game_icon02.png?1480497872'); }
.first-game-bar03 { background-image: url('../image/game_bar_bg03.png?1481017977'); }
.first-game03 { background-image: url('../image/game03.png?1481015009'); }
.first-game-title03 { background-image: url('../image/game_icon03.png?1480497872'); }
.first-game-bar04 { background-image: url('../image/game_bar_bg04.png?1481017830'); }
.first-game04 { background-image: url('../image/game04.png?1481015119'); }
.first-game-title04 { background-image: url('../image/game_icon04.png?1480497872'); }
.first-game-bar01, .first-game-bar02, .first-game-bar03, .first-game-bar04 { position: absolute; width: 100%; min-width: 1024px; height: 410px; z-index: 1; background-repeat: no-repeat; background-position: center top; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.first-game-bar02, .first-game-bar03, .first-game-bar04 { margin-top: -1150px; height: 1218px; background-position: 880px top; }
.first-game-bar03 { margin-top: -1260px; height: 1240px; background-position: -1030px top; }
.first-game-bar04 { height: 1226px; margin-top: -1240px; }
.first-game01, .first-game02, .first-game03, .first-game04 { padding: 76px 0 0 0; background-repeat: no-repeat; background-position: center 75px; opacity: 0; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.first-game01 .wrapper, .first-game02 .wrapper, .first-game03 .wrapper, .first-game04 .wrapper, .first-game01 .page-position, .first-game02 .page-position, .first-game03 .page-position, .first-game04 .page-position, .first-game01 .footer, .first-game02 .footer, .first-game03 .footer, .first-game04 .footer, .first-game01 .page-body, .first-game02 .page-body, .first-game03 .page-body, .first-game04 .page-body { position: relative; }
.first-game02 { padding-top: 310px; background-position: center 290px; }
.first-game03 { padding-top: 430px; background-position: center 400px; }
.first-game04 { padding-top: 400px; background-position: center 360px; }
.first-game-title01, .first-game-title02, .first-game-title04, .first-game-title03 { position: relative; float: left; display: inline-block; width: 138px; text-align: center; padding: 0 0 70px 0; font-family: Times New Roman; font-size: 36px; color: #fff; background-repeat: no-repeat; background-position: center bottom; z-index: 2; opacity: 0; top: 20px; -webkit-transition: all 0.8s ease; -o-transition: all 0.8s ease; transition: all 0.8s ease; }
.first-game-title01 span, .first-game-title02 span, .first-game-title04 span, .first-game-title03 span { display: block; font-size: 16px; }
.first-game-title02, .first-game-title04 { float: right; line-height: 32px; }
.first-game-title03 { width: 180px; }
.first-game-item01, .first-game-item02, .first-game-item04, .first-game-item03 { position: relative; margin: 0 20px 0 auto; width: 260px; font-size: 18px; color: #595656; line-height: 42px; padding: 162px 0 240px 0; opacity: 0; top: 20px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.first-game-item01 li, .first-game-item02 li, .first-game-item04 li, .first-game-item03 li { padding: 0 0 0 26px; background: url('../image/first_game_icon.png?1480497872') no-repeat left center; }
.first-game-item01 span, .first-game-item02 span, .first-game-item04 span, .first-game-item03 span { padding: 0 10px; }
.first-game-item02, .first-game-item04 { width: 300px; padding: 160px 0 200px 0; margin: 0 auto 0 20px; }
.first-game-item03 { padding-bottom: 160px; }
.first-game-item04 { padding-bottom: 180px; }
.first-game-link a { position: absolute; display: block; width: 100px; height: 100px; left: 657px; top: 476px; background: url('../image/first_game_btn.png?1480497872') no-repeat left top; z-index: 2; opacity: 0; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.first-game-link a.link-turn { opacity: 1; -webkit-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); background-image: url('../image/first_game_btn_over.png?1481077051'); }
.first-game-link a.link-turn2 { -webkit-transform: rotateY(0deg); -ms-transform: rotateY(0deg); -o-transform: rotateY(0deg); transform: rotateY(0deg); background-image: url('../image/first_game_btn.png?1480497872'); }
.first-game-link a:hover { -webkit-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); background-image: url('../image/first_game_btn_over.png?1481077051'); }
.first-game02 .first-game-link a { top: 460px; left: 310px; }
.first-game03 .first-game-link a { top: 450px; left: 610px; }
.first-game04 .first-game-link a { top: 440px; left: 310px; }
.first-game-text01, .first-game-text02, .first-game-text04, .first-game-text03 { position: relative; width: 600px; font-size: 15px; color: #595656; line-height: 20px; top: 20px; opacity: 0; margin: 0 auto 0 20px; -webkit-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.first-game-text02, .first-game-text04 { width: 565px; line-height: 26px; margin: 0 20px 0 auto; }
.first-game-text03 { padding-top: 40px; line-height: 26px; }
.first-game-text04 { width: 540px; padding-top: 10px; margin-right: 20px; }
.first-game-subtitle { font-size: 20px; color: #46A5B8; padding: 20px 0 5px 0; }
.first-game02 .first-game-subtitle, .first-game03 .first-game-subtitle, .first-game04 .first-game-subtitle { padding-bottom: 20px; }

.footer-gotop { position: absolute; width: 130px; height: 65px; left: 50%; top: -65px; margin-left: -65px; }

#page-header { position: relative; }
.about #page-header, .live #page-header, .ball #page-header, .game #page-header, .lottery #page-header, .memberexclusiveii #page-header, .sports #page-header { background: url('../image/page_header_bg.jpg?1480926953') no-repeat center top; min-height: 300px; }
.about #page-header::after, .live #page-header::after, .ball #page-header::after, .game #page-header::after, .lottery #page-header::after, .memberexclusiveii #page-header::after, .sports #page-header::after { content: ''; position: absolute; display: block; width: 63px; height: 63px; left: 0; bottom: 0; background: url('../image/page_piece.png?1480927977') no-repeat left top; }
.sports #page-header { background: none; }

.sports #mainBody { background: url('../image/sports_bg.jpg?1486437015') repeat-x center top; }

.banner { min-height: 193px; }
.about .banner, .live .banner, .ball .banner, .game .banner, .lottery .banner, .memberexclusiveii .banner { height: auto; background-repeat: no-repeat; background-position: center top; }
.live .banner { background-image: url(../image/lang/zh-cn/title_live.jpg); }
.game .banner { background-image: url(../image/lang/zh-cn/title_game.jpg); }
.lottery .banner { background-image: url(../image/lang/zh-cn/title_lottery.jpg); }
.memberexclusiveii .banner { background-image: url(../image/lang/zh-cn/title_memberexclusiveii.jpg); }
.about .banner { background-image: url('../image/lang/zh-cn/title_welcome.jpg?1486115163'); }
.ball .banner { background-image: url('../image/lang/zh-cn/title_sports.jpg?1486115163'); }

#page-container { background: url('../image/page_container_bg.jpg?1480926700') no-repeat center top; padding-bottom: 56px; }
.game #page-container { padding-bottom: 0; background-position: center 138px; }
.sports #page-container { background: none; background-color: transparent !important; padding: 0; }

.page-body { position: relative; top: -30px; }
.game .page-body { width: 1000px; margin-top: -138px; }
.about .page-body { top: 0; }
.sports .page-body { margin-top: -138px; }

.about-title { position: absolute; width: 559px; height: 306px; top: 0; left: -273px; background: url('../image/lang/zh-cn/sidebar_top.png?1486114606') no-repeat left top; z-index: 0; }

#sidebar { float: left; width: 239px; text-align: center; }

.sidemenu { padding-top: 255px; background: url('../image/sidebar_bg_y.jpg?1480997442') repeat-y left top; }
.sidemenu li { font-size: 14px; font-weight: bold; padding: 18px 0; background: url('../image/sidebar_line.jpg?1480997282') no-repeat center bottom; position: relative; z-index: 4; }
.sidemenu li a { color: #000; }
.sidemenu li a:hover, .sidemenu li a.current { color: #46A5B8; }

.article { float: left; width: 689px; padding: 105px 40px 40px 56px; font-size: 15px; font-weight: bold; color: #595656; line-height: 30px; }
.article p { padding-bottom: 30px; }

.elenew-live-trace { color: #AB9875; margin: 0 0 0 16px; }
.elenew-live-trace a { color: #AB9875; }
.elenew-live-trace .elenew-trace-title { color: #5B4410; }
.elenew-live-trace .elenew-trace-sub { margin: 12px 0 0 5px; color: #AB9875; }
.elenew-live-trace .gamenew-trace-num { color: #46A5B8; }

#elenew-search-wrap .elenew-search-btn { color: #000; background-color: #ddd; }
#elenew-search-wrap .elenew-search-btn.search-active { color: #ddd; background-color: #000; }
#elenew-search-wrap .elenew-search-btn .fa-2x { font-size: 1.8em; }
#elenew-search-wrap .elenew-search-input { background-color: #eee !important; color: #595656 !important; }
#elenew-search-wrap .elenew-search-input input { color: #595656; }

.elenew-live-view a { color: #666; }
.elenew-live-view a:hover, .elenew-live-view a.view-active { color: #46A5B8; }

.elenew-serch-noresult { color: #000 !important; }

/*
	color-setC
	    1   標題的文字顏色
	    2   副標題的文字顏色
	    3   副標題的數字顏色
	    4   搜尋按鈕放大鏡圖片顏色
	    5   Active的搜尋按鈕放大鏡圖片顏色
	    6   搜尋按鈕底色
	    7   Active的搜尋按鈕底色
	    8   搜尋框底色
	    9   鍵入的搜尋文字顏色
	    10  搜尋框的預設文字顏色"請輸入遊戲名稱"
	    11  列表icon顏色
	    12  Active的列表icon顏色
*/
.ele-gamebanner-wrap .rslides_tabs { background: rgba(0, 0, 0, 0.5); border-radius: 4px; padding: 3px 5px; }

#js-ele-gamebanner .rslides_tabs li { color: #D5C8AF; }
#js-ele-gamebanner .rslides_tabs li.rslides_here { color: #D5C8AF; }

/*
	color-setA 1   Banner切換圖片的按鈕顏色 2   當前的Banner切換圖片的按鈕顏色
 */
.memberexclusiveii-wrap .promotionsImg { position: relative; display: block; width: 1024px; height: 270px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; margin: 0 auto 15px; }
.memberexclusiveii-wrap .promotions01 { background: url('../image/not-use/promotion01.png?1481186009') no-repeat; }
.memberexclusiveii-wrap .promotions01:hover { background: url('../image/not-use/promotion01_over.png?1481186098') no-repeat; }
.memberexclusiveii-wrap .promotions02 { background: url('../image/not-use/promotion02.png?1481186244') no-repeat; }
.memberexclusiveii-wrap .promotions02:hover { background: url('../image/not-use/promotion02_over.png?1481186204') no-repeat; }
.memberexclusiveii-wrap .promotions03 { background: url('../image/not-use/promotion03.png?1481186735') no-repeat; }
.memberexclusiveii-wrap .promotions03:hover { background: url('../image/not-use/promotion03_over.png?1481186743') no-repeat; }

.est-wrap { float: right; line-height: 30px; color: #000; }

/*# sourceMappingURL=style.css.map */
