@import "base/mixins";

// .sport {
//     background: #E6E6E6;
// }

.sport-wrap {
    max-width: 960px;
    margin: 0 auto ;
}

.sport-top {
    position: relative;
    height: 250px;
    background: url("../image/sportLobby/sport_top_bg.jpg") top center no-repeat;
}

.sport-top-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 439px;
    height: 250px;
    background: url("../image/sportLobby/sport_top_wrap_bg.png") center right no-repeat;

    h2 {
        position: absolute;
        top: 100px;
        right: 24px;
        z-index: 1;
        display: block;
        line-height: 1;
        font-size: 22px;
        font-weight: normal;
        color: #FFFF73;
    }

    .title {
        position: absolute;
        top: 48px;
        right: 48px;
        z-index: 1;
        display: block;
        max-width: 100%;
    }

    .play-btn {
        position: absolute;
        right: 32px;
        bottom: 32px;
        z-index: 2;
        display: block;
        width: 264px;
        line-height: 48px;
        text-align: center;
        font-family: 'Arial', '微軟正黑體';
        font-size: 18px;
        color: #009AE2;
        border: 2px solid #009AE2;
        border-radius: 26px;

        &:after {
            content: "";
            position: absolute;
            top: 9px;
            right: 9px;
            width: 30px;
            height: 30px;
            background: url("../image/sportLobby/sport_arrow_icon.png") no-repeat;
            background-position: 0 0;
        }

        &:hover {
            color: #fff;
            background: #009AE2;

            &::after {
                background-position: 0 -30px;
            }
        }
    }
    @media only screen and (max-width: 640px) {
        position: relative;
        width: 100%;
        background-color: #2a2a2a;

        h2 {
            right: 15%;
        }

        .title {
            position: relative;
            right: auto;
            margin: 0 auto;
        }

        .play-btn {
            right: auto;
            left: 50%;
            margin-left: -132px;
        }
    }
}

.sport-top-menu {
    position: relative;
    z-index: 2;
    width: 368px;
    height: 250px;
    overflow: hidden;

    ul {
        padding-top: 26px;
    }

    li {
        display: block;
        width: 174px;
        height: 104px;
        background-repeat: no-repeat;
        background-position: 0 0;
        margin: 0 0 4px 10px;
        float: left;

        &:hover {
            background-position: 0 -104px;
        }

        &.ts {
            background-image: url("../image/sportLobby/sport_top_menu_ts_m.png");
        }

        &.tb {
            background-image: url("../image/sportLobby/sport_top_menu_tb_m.png");
        }

        &.parlay {
            background-image: url("../image/sportLobby/sport_top_menu_parlay_m.png");
        }

        &.champion {
            background-image: url("../image/sportLobby/sport_top_menu_champion_m.png");
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            span {
                position: absolute;
                left: 0;
                bottom: 2px;
                display: block;
                width: 100%;
                text-align: center;
                font-family: 'Arial', '微軟正黑體';
                font-size: 16px;
                color: #fff;
                @include text-truncate;
            }

            &:hover {
                span {
                    color: #009CDF;
                }
            }
        }
    }
}

.sport-top-wagers {
    position: absolute;
    top: 28px;
    right: 16px;
    z-index: 5;
    width: 50%;
    max-width: 380px;
    height: auto;
    background: url("../image/sportLobby/bg_black2b2a2a_o85.png") repeat;
    border: 1px solid #444;

    .title {
        display: block;
        line-height: 40px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: #777;
        border-bottom: 1px solid #444;
    }
}

.sport-top-wagers-content {
    display: block;

    ul {
        display: block;
        width: 50%;
        float: left;
        padding: 16px 0 12px;
        margin-left: -1px;

        &.first-child {
            border-right: 1px solid #444;
        }
    }

    li {
        display: block;

        h2,
        h3 {
            display: block;
            line-height: 1;
            text-align: center;
            color: #fff;
            font-size: 22px;
            font-weight: bold;
        }

        h2 {
            margin: 0 0 12px;
        }

        h3 {
            margin: 0 0 22.4px;

            span {
                display: inline-block;
                vertical-align: bottom;

                &.num {
                    font-family: 'Trebuchet MS';
                    font-size: 46px;
                    font-weight: normal;
                    color: #EE4958;
                }

                &.unit {
                    margin: 0 0 8px 10px;
                }
            }
        }
    }

    a {
        position: relative;
        display: block;
        width: 136px;
        line-height: 32px;
        font-size: 14px;
        color: #F34555;
        border: 1px solid #F34555;
        border-radius: 17px;
        margin: 0 auto;
        text-indent: 16px;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 5px;
            z-index: 1;
            display: block;
            width: 22px;
            height: 22px;
            background-image: url("../image/sportLobby/sport_wagers_arrow.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            margin: -12px 0 0;
        }

        &:hover {
            color: #fff;
            background: #F34555;

            &::after {
                background-position: 0 -22px;
            }
        }
    }
    @media only screen and (max-width: 640px) {
        ul {
            padding-bottom: 16px;
        }

        li {
            h2 {
                margin: 0;
            }

            h3 {
                margin: 32px 0;
            }
        }
    }
}

.sport-est-time {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
    font-size: 12px;
    color: #fff;

}

.sport-game {
    position: relative;
}

.sport-game-comming,
.sport-game-latest-resault,
.sport-game-rolling {
    width: 50%;
    float: left;
}

.sport-game-comming,
.sport-game-rolling {
    height: 318px;

    .sport-game-live-title {
        padding-right: 72px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: 100%;
        height: 42px;
        background: #2a2a2a;
    }
}

.sport-game-rolling {
    background: #E8E8E8;
}

.sport-game-comming {
    background: #F2F2F2;
}

.sport-game-latest-resault {
    background: #F2F2F2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sport-game-wall {
    position: absolute;
    width: 100%;
}

.sport-game-inner {
    height: 274px;

    ul {
        display: block;
        height: 100%;
        border: 1px solid #ddd;
        overflow: hidden;
    }

    li {
        position: relative;
        display: block;
        height: 91px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 0 16px 0 96px;
    }
}

.sport-game-nogame {
    position: relative;
    display: block;
    height: 100%;
    background: #ddd;
    text-align: center;

    .title {
        position: relative;
        top: 50%;
        left: 0;
        display: inline-block;
        line-height: 42px;
        font-size: 30px;
        color: #999;
        background: url("../image/sportLobby/sport_nogame_icon.png") top left no-repeat;
        margin: -21px 0 0;
        padding: 0 0 0 48px;
    }

}

.sport-game-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    color: #545454;
    border-right: 1px solid #ddd;
    padding: 24px 0;

    span {
        display: block;
    }
}

.sport-game-content {
    width: 100%;
    padding: 6px 0 0;
}

.sport-game-live-sec {
    color: #F64E5E;
}

.sport-game-live-title {
    position: relative;
    line-height: 26px;

    h2,
    h3 {
        display: block;
        font-weight: normal;
        color: #999;
        @include text-truncate;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    a {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 60px;
        line-height: 24px;
        text-align: center;
        font-size: 14px;
        color: #999;
        border: 1px solid #CECECE;
    }
}

.sport-game-live-versus {
    margin: 4px 0 0;
}

.sport-game-live-team {
    position: relative;
    display: block;
    line-height: 20px;
    font-size: 14px;
    color: #545454;
    @include text-truncate;

    i {
        line-height: 24px;
        font-style: normal;
    }

    &.maker {
        color: #F4760B;
    }
}

.sport-game-live-name {
    display: block;
    @include text-truncate;
    padding: 0 120px 0 0;
}

.sport-game-live-handicap,
.sport-game-live-odds {
    position: absolute;
    top: 0;
    width: 60px;
    text-align: center;
}

.sport-game-live-odds {
    right: 0;
    color: #545454 !important;
}

.sport-game-live-handicap {
    right: 60px;
}

.sport-game-title {
    height: 40px;
    line-height: 26px;
    color: #999;
    background: #2a2a2a;
    border: 1px solid #333;

    &::before {
        padding-top: 7px;
    }

    span {
        font-family: 'Arial', '微軟正黑體';
        font-size: 18px;
        float: left;
        margin: 0 0 0 8px;

        &.live {
            color: #F15261;
        }
    }
}

.sport-game-icon {
    float: left;
    margin: 0 0 0 18px;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background: url("../image/sportLobby/sport_game_icon_border.png");

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 2px;
        background-image: url("../image/sportLobby/icon_sport.png");
        background-repeat: no-repeat;
    }

    &.FT {
        &::after {
            background-position: -5px center;
        }
    }

    &.BK {
        &::after {
            background-position: -35px center;
        }
    }

    &.BS {
        &::after {
            background-position: -65px center;
        }
    }

    &.TN {
        &::after {
            background-position: -95px center;
        }
    }

    &.IH {
        &::after {
            background-position: -125px center;
        }
    }

    &.FB {
        &::after {
            background-position: -155px center;
        }
    }

    &.SP {
        &::after {
            background-position: -185px center;
        }
    }

    &.F1 {
        &::after {
            background-position: -215px center;
        }
    }
}

.sport-game-arrow {
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 0 0 18px;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../image/sportLobby/sport_title_arrow.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.sport-game-ticker {
    height: 182px;
    overflow: hidden;

    li {
        display: block;
        height: 100%;
    }
}

.sport-game-list {
    position: relative;
    display: block;
    height: 91px;
    border: 1px solid #ddd;
    padding: 0 16px 0 96px;
}

.sport-banner {
    position: relative;
    height: 224px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.sport-slider {
    position: relative;
    width: 100%;

    li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

    img {
        display: block;
        width: 100%;
    }

    &_tabs {
        position: absolute;
        right: 0;
        bottom: 4px;
        z-index: 99;
        width: 60%;
        text-align: right;
        padding: 0 32px 0 0;

        li {
            display: inline-block;
            margin: 0 4px;
            float: none;

            a {
                display: block;
                width: 16px;
                height: 16px;
                text-indent: 9999px;
                background: url("../image/sportLobby/slider_ctrl.png");
                overflow: hidden;
            }
        }

        .sport-slider_here {
            a {
                background-position: bottom;
            }
        }
    }
}

#sportGameBox1,
#sportGameBox2 {
    position: relative;

    .control {
        display: none;
    }
}

.ele-top-bar {
    background-color: #2A2A2A;
}
.ele-top-bar .nav-node {
    float: left;
    position: relative;
    width: 16.66%;
}
.ele-top-bar .nav-node:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    content: "";
    background-color: #202020;
    border-left: solid 1px #3D3D3D;
}
.ele-top-bar .nav-node:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    width: calc(100% - 2px);
    height: 1px;
    content: "";
    background-color: #3D3D3D;
    border-bottom: solid 2px #202020;
}
.ele-top-bar .nav-node a {
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    color: #ACADB2;
    text-decoration: none;
}
.has-hover .ele-top-bar .nav-node a:hover,
.ele-top-bar .nav-node a:active {
    color: #FFF;
}
.ele-top-bar .nav-1 a {
    color: #FFF;
    cursor: default;
}
