<!DOCTYPE html>
<html class="lottery zh-cn">

<head>
	<meta charset="UTF-8">
	<title>彩票游戏</title>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Share core Javascript -->
	<script src="js/jquery.js"></script>
</head>

<body>
	<div id="mainBody">
		<!-- begin page-header -->
		<div id="page-header">
			<div class="header-top">
				<div class="page-position">
					<div class="logo">
						<a href="index.html"></a>
					</div>
					<!-- begin lang-wrap -->
					<div id="lang-wrap" class="lang-wrap">
						<div class="langTitle">
							<a href="#">简体中文</a>
						</div>
						<div id="langOption" style="display: none;">
							<a href="#" class="zh-tw">繁體中文</a>
							<a href="#" class="en">ENGLISH</a>
						</div>
					</div>
					<!-- end lang-wrap -->
					<!-- begin login -->
					<div class="login-wrap">
						<div id="login">
							<form class="login-input form-group">
								<input type="text" placeholder="帐号" class="form-control name">
								<input type="text" placeholder="密码" class="form-control password">
								<input type="text" placeholder="验证码" class="form-control key">
								<a class="login-btn btn-submit" href="index_login.html">登入</a>
							</form>
							<div class="login-btn-wrap">
								<ul>
									<li><a href="#" class="login-btn btn-joinus">忘记密码</a></li>
									<li><a href="#" class="getPW">加入会员</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--end login -->
					<div class="mainnav">
						<ul class="nav">
							<li id="LS-fist" class="LS-first"><a href="index.html">首页</a><span></span></li>
							<li id="LS-ball" class="LS-ball"><a href="#.html">体育赛事</a>
								<div id="nav-ball" style="display:none" class="ele-lsub-group">
                                	<a v-for="todo in todos" :href="todo.link">{{ todo.name }}</a>
                                </div>
                                <span></span>
							</li>
							<li id="LS-live" class="LS-live"><a href="live.html">视讯直播</a><span></span></li>
							<li id="LS-game" class="LS-game"><a href="#">电子游艺</a>
								<div id="nav-game" style="display:none" class="ele-lsub-group">
                                    <div class="lsub-inner-wrap">
                                        <a v-for="todo in todos" :href="todo.link">{{ todo.name }}</a>
                                    </div>
                                </div>
								<span></span>
							</li>
							<li id="LS-lottery" class="LS-lottery current"><a href="lottery.html">彩票游戏</a><span></span></li>
							<li id="LS-memberexclusiveii" class="LS-memberexclusiveii"><a href="promotions.html">优惠活动</a><span></span></li>
							<li id="LS-service" class="LS-service"><a href="#">在线客服</a><span></span></li>
						</ul>
					</div>
				</div>
				<div class="banner"></div>
			</div>
			<!-- end header-top -->
		</div>
		<!--end page-header -->

		<!-- begin page-container -->
		<div id="page-container">
			<!--begin page-body -->
			<div class="page-body">
				 <!-- begin lottery -->
				<div class="lottery-wrap">
					<!--lottery-->
<link rel="stylesheet" href="css/lottery_style.css">
<div id="js-ele-lotteryHALL-wrap" class="ele-lotteryHALL-wrap clearfix">
    <div id="js-ele-lottery-alert-bg" class="ele-lottery-alert-bg">
        <div id="js-ele-lottery-alert-close" class="ele-lottery-alert-close"></div>
        <!-- <img id="js-ele-lottery-alert" class="ele-lottery-alert" src="integrate_bn.png" border="none"> -->
    </div>
    <div class="ele-lottery-left-wrap">
        <div id="js-ele-lottery-main" class="ele-lottery-main clearfix">
            <a href="#" id="js-ele-lottery-main" class="ele-lottery-login">
                <img src="image/lottery/lotteryLobby_block.png" />
            </a>
        </div>
        <div id="js-ele-lottery-banner" class="ele-lottery-banner">
            <div id="ele-lottery-slider" class="ele-lottery-slider">
                <div><img src="image/lottery/lang/zh-cn/lottery_banner_bbqk_online.png" /></div>
                <div><img src="image/lottery/lang/zh-cn/lottery_banner_cqwc.png" /></div>
            </div>
        </div>
    </div>
    <div id="js-ele-lottery-right-wrap" class="ele-lottery-right-wrap clearfix">
        <div id="js-ele-lottery-hotgame" class="ele-lottery-hotgame">
            <div class="ele-lottery-hotgame-hot">
                <span class="ele-lottery-tag-text">TOP</span>
            </div>
            <ul>
                <li class="clearfix ele-lottery-hotgame-first" title="长龙投注"><span class="ele-item-name">长龙投注</span>
                    <a class="ele-item-arrow" href="#"></a>
                </li>
                <li class="clearfix ele-lottery-hotgame-item" title="六合彩"><span class="ele-item-name">六合彩</span>
                    <a class="ele-item-quest" href="#"></a>
                </li>
                <li class="clearfix ele-lottery-hotgame-item" title="BB竞速快乐彩"><span class="ele-item-name">BB竞速快乐彩</span>
                    <a class="ele-item-quest" href="#"></a>
                </li>
                <li class="clearfix ele-lottery-hotgame-item" title="BB雷电PK"><span class="ele-item-name">BB雷电PK</span>
                    <a class="ele-item-quest" href="#"></a>
                </li>
                <li class="clearfix ele-lottery-hotgame-item" title="梯子游戏"><span class="ele-item-name">梯子游戏</span>
                    <a class="ele-item-quest" href="#"></a>
                </li>
                <li class="clearfix ele-lottery-hotgame-item" title="BB PK3"><span class="ele-item-name">BB PK3</span>
                    <a class="ele-item-quest" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="ele-lottery-ranking">
            <div>
                <ul class="ele-lottery-ranking-tabs">
                    <li id="js-ele-lottery-win-tab" class="current-tab" data-tab="js-ele-lottery-wingame">连续开奖</li>
                    <li id="js-ele-lottery-lose-tab" data-tab="js-ele-lottery-losegame">连续未开</li>
                </ul>
            </div>
            <ul id="js-ele-lottery-wingame" class="ele-lottery-wingame ele-lottery-game-card current-card">
                <li class="ranking-1" title="山东十一运夺金">
                    <div class="item-left-wrap"><span class="ele-item-name">山东十一运夺金</span><span class="ele-item-game">总和单</span></div>
                    <div class="ele-item-number"><span>11</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-2" title="新疆时时彩">
                    <div class="item-left-wrap"><span class="ele-item-name">新疆时时彩</span><span class="ele-item-game">(后三)和尾数 合</span></div>
                    <div class="ele-item-number"><span>10</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-3" title="天津十分彩">
                    <div class="item-left-wrap"><span class="ele-item-name">天津十分彩</span><span class="ele-item-game">第六球 单</span></div>
                    <div class="ele-item-number"><span>8</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-4" title="北京PK拾">
                    <div class="item-left-wrap"><span class="ele-item-name">北京PK拾</span><span class="ele-item-game">冠军 小</span></div>
                    <div class="ele-item-number"><span>8</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-5" title="天津时时彩">
                    <div class="item-left-wrap"><span class="ele-item-name">天津时时彩</span><span class="ele-item-game">佰拾和尾数 大</span></div>
                    <div class="ele-item-number"><span>8</span><a class="ele-item-time">期</a></div>
                </li>
            </ul>
            <ul id="js-ele-lottery-losegame" class="ele-lottery-losegame ele-lottery-game-card">
                <li class="ranking-1" title="吉林快3">
                    <div class="item-left-wrap"><span class="ele-item-name">吉林快3</span><span class="ele-item-game">围骰 4</span></div>
                    <div class="ele-item-number"><span>788</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-2" title="江苏快3">
                    <div class="item-left-wrap"><span class="ele-item-name">江苏快3</span><span class="ele-item-game">围骰 2</span></div>
                    <div class="ele-item-number"><span>594</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-3" title="北京快乐8">
                    <div class="item-left-wrap"><span class="ele-item-name">北京快乐8</span><span class="ele-item-game">810</span></div>
                    <div class="ele-item-number"><span>527</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-4" title="新疆时时彩">
                    <div class="item-left-wrap"><span class="ele-item-name">新疆时时彩</span><span class="ele-item-game">(前三)跨度 0</span></div>
                    <div class="ele-item-number"><span>398</span><a class="ele-item-time">期</a></div>
                </li>
                <li class="ranking-5" title="六合彩">
                    <div class="item-left-wrap"><span class="ele-item-name">六合彩</span><span class="ele-item-game">正码特二 31</span></div>
                    <div class="ele-item-number"><span>281</span><a class="ele-item-time">期</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="js/lottery/jquery.js"></script>
<script src="js/lottery/ele-slider.js"></script>
<script src="js/lottery/main.js"></script>

				</div>
				<!-- end lottery -->
			</div>
			<!-- end page-body -->
		</div>
		<!-- end page-container -->

    <!-- begin page-footer -->
	  <div id="page-footer">
  <div class="wrapper">
    <div class="footer-infor clearfix">
      <ul>
        <li>
          <div class="footer-infor-title">MOBILE BET</div>
          <div class="footer-infor-content"><a href="#"><img src="image/lang/zh-cn/footer_mobile.png"></a></div>
        </li>
        <li>
          <div class="footer-infor-title">PAYMENT METHODS</div>
          <div class="footer-infor-content"><img src="image/footer_img.png"></div>
        </li>
        <li>
          <div class="footer-infor-title">ONLINE SERVICE</div>
          <div class="footer-infor-content"><a href="#"><img src="image/footer_service.png"></a></div>
        </li>
      </ul>;

    </div>
    <div class="footer-logo">
      <a href="#"><img src="image/bbinlogo.png"></a>
      <a href="#"><img src="image/ublogo.png"></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="about.html">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">合作伙伴</a></li>
        <li><a href="#">存款帮助</a></li>
        <li><a href="#">取款帮助</a></li>
        <li><a href="#">常见问题</a></li>
        <li><a href="#">责任博彩</a></li>
      </ul>
    </div>
    <div class="footer-copyright">COPYRIGHT &copy; 澳门金沙VIP GALAXY RESERVED</div>
  </div>
</div>

		<!-- end page-footer -->
		</div>
		<!--end mainBody -->

<!-- Share core Javascript -->
<script src="js/common.js"></script>
<script src="js/subTab.js"></script>
<script src="js/vue.js"></script>
<script src="js/app.js"></script>
<!-- Javascript for this template -->

<script>
	$(".langTitle").click(function(){
		$(this).toggleClass('lang-turn');
	});
</script>
</body>
</html>
