// LANG
@if $lang-kind==Flag {
    .lang-wrap {
        a {
            float: left;
            width: 25px;
            height: 25px;
            margin: 0 2px;
            background: image-url('not-use/icon-flag25.png') top no-repeat;
            @for $i from 1 through 3 {
                &.flag0#{$i} {
                    background-position: 0px 40px-39px*$i;
                }
            }
        }
    }
}

@else {}

// FIRST GAME
@if $first-game-format==pnglang {
    .first-game {
        a {
            float: left;
            width: image-width($lang+'game01.png');
            height: image-height($lang+'game01.png');
        }
    }
    @each $var in $first-game {
        .first-#{$var} {
            background: image-url($lang+'#{$var}.png') no-repeat;
            &:hover {
                background: image-url($lang+'#{$var}_over.png') no-repeat;
            }
        }
    }
} @else if $first-game-format==jpglang {
    .first-game {
        a {
            float: left;
        }
    }
    @each $var in $first-game {
        .first-#{$var} {
            background: image-url($lang+'#{$var}.jpg') no-repeat;
            width: image-width($lang+'#{$var}.jpg');
            height: image-height($lang+'#{$var}.jpg');
            &:hover {
                background: image-url($lang+'#{$var}_over.jpg') no-repeat;
            }
        }
    }
} @else if $first-game-format==png {
    .first-game {
        a {
            float: left;
            width: image-width('game01.png');
            height: image-height('game01.png');
        }
    }
    @each $var in $first-game {
        .first-#{$var} {
            background: image-url('#{$var}.png') no-repeat;
            &:hover {
                background: image-url('#{$var}_over.png') no-repeat;
            }
        }
    }
} @else if $first-game-format==jpg {
    .first-game {
        a {
            float: left;
            width: image-width('game01.jpg');
            height: image-height('game01.jpg');
        }
    }
    @each $var in $first-game {
        .first-#{$var} {
            background: image-url('#{$var}.jpg') no-repeat;
            &:hover {
                background: image-url('#{$var}_over.jpg') no-repeat;
            }
        }
    }
} @else {}

// fIRST SLIDESHOW
@if $first-slider==true {
    .ele-slideshow-wrap {
        position: relative;
        width: 100%;
        ul {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            li {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                a {
                    display: block;
                    .img {
                        width: 100%;
                        height: $first-height;
                        background-position: top center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .ele-slideshow-scroll {
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        top: 0;
        height: $first-height;
    }
} else {}
